@model ShoppingCartMVC42014.DAL.Product

@{
    ViewBag.Title = "Create";
}

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<!-- Items -->

<div class="items">
  <div class="container">
    <div class="row">

      <!-- Sidebar -->
      <div class="col-md-3 col-sm-3 hidden-xs">

        <h5 class="title">Categories</h5>

          <p>
    @Html.ActionLink("Create New", "Create")
</p>

        <!-- Sidebar navigation -->
          <nav>
            <ul id="nav">
              <!-- Main menu. Use the class "has_sub" to "li" tag if it has submenu. -->
              <li><a href="index-2.html">Home</a></li>
              <li class="has_sub"><a href="#">Smartphone</a>
                <!-- Submenu -->
                <ul>
                              <li><a href="items.html">HTC</a></li>
                              <li><a href="items.html">Samsung</a></li>
                              <li><a href="items.html">Apple</a></li>
                              <li><a href="items.html">Motorola</a></li>
                              <li><a href="items.html">Nokia</a></li>
                </ul>
              </li>
              <li class="has_sub"><a href="#">Tablet</a>
                <ul>
                              <li><a href="items.html">Samsung</a></li>
                              <li><a href="items.html">Apple</a></li>
                              <li><a href="items.html">Motorola</a></li>
                </ul>
              </li>
              <li class="has_sub"><a href="#">Digital Camera</a>
                <ul>
                              <li><a href="items.html">Nikkon</a></li>
                              <li><a href="items.html">Samsung</a></li>
                              <li><a href="items.html">Sony</a></li>
                              <li><a href="items.html">Cannon</a></li>
                </ul>
              </li>
              <li class="has_sub"><a href="#">Computers</a>
                <ul>
                              <li><a href="items.html">Dell</a></li>
                              <li><a href="items.html">Lenovo</a></li>
                              <li><a href="items.html">Apple</a></li>
                              <li><a href="items.html">Samsung</a></li>
                </ul>
              </li>
              <li class="has_sub"><a href="#">Software</a>
                <ul>
                              <li><a href="items.html">Microsoft</a></li>
                              <li><a href="items.html">Nero</a></li>
                              <li><a href="items.html">Apple</a></li>
                              <li><a href="items.html">Avaira</a></li>
                </ul>
              </li>
            </ul>
          </nav>
<br />
          <!-- Sidebar items (featured items)-->

          <div class="sidebar-items">

            <h5 class="title">Featured Items</h5>

            <!-- Item #1 -->
            <div class="sitem">
              <!-- Don't forget the class "onethree-left" and "onethree-right" -->
              <div class="onethree-left">
                <!-- Image -->
                <a href="single-item.html"><img src="img/photos/2.png" alt="" class="img-responsive" /></a>
              </div>
              <div class="onethree-right">
                <!-- Title -->
                <a href="single-item.html">HTC One V</a>
                <!-- Para -->
                <p>Aenean ullamcorper justo tincidunt justo aliquet.</p>
                <!-- Price -->
                <p class="bold">$199</p>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="sitem">
              <div class="onethree-left">
                <a href="single-item.html"><img src="img/photos/3.png" alt="" class="img-responsive" /></a>
              </div>
              <div class="onethree-right">
                <a href="single-item.html">Sony One V</a>
                <p>Aenean ullamcorper justo tincidunt justo aliquet.</p>
                <p class="bold">$399</p>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="sitem">
              <div class="onethree-left">
                <a href="single-item.html"><img src="img/photos/4.png" alt="" class="img-responsive" /></a>
              </div>
              <div class="onethree-right">
                <a href="single-item.html">Nokia One V</a>
                <p>Aenean ullamcorper justo tincidunt justo aliquet.</p>
                <p class="bold">$159</p>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="sitem">
              <div class="onethree-left">
                <a href="single-item.html"><img src="img/photos/5.png" alt="" class="img-responsive" /></a>
              </div>
              <div class="onethree-right">
                <a href="single-item.html">Samsung One V</a>
                <p>Aenean ullamcorper justo tincidunt justo aliquet.</p>
                <p class="bold">$299</p>
              </div>
              <div class="clearfix"></div>
            </div>
                                    
          </div>

      </div>


<!-- Main content -->
      <div class="col-md-9 col-sm-9">

        <!-- Breadcrumb -->
        <ul class="breadcrumb">
          <li><a href="index-2.html">Home</a> <span class="divider">/</span></li>
          <li><a href="items.html">Smartphone</a> <span class="divider">/</span></li>
          <li class="active">Apple</li>
        </ul>

                            <!-- Title -->
                              <h4 class="pull-left">Apple iPhones</h4>


                                          <!-- Sorting -->
                                            <div class="form-group pull-right">                               
                                                <select class="form-control">
                                                <option>Sort By</option>
                                                <option>Name (A-Z)</option>
                                                <option>Name (Z-A></option>
                                                <option>Price (Low-High)</option>
                                                <option>Price (High-Low)</option>
                                                <option>Ratings</option>
                                                </select>  
                                            </div>

                          <div class="clearfix"></div>




<h2>Create</h2>


@using  (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Product</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.unit_price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.unit_price)
            @Html.ValidationMessageFor(model => model.unit_price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.instock)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.instock)
            @Html.ValidationMessageFor(model => model.instock)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.outstock)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.outstock)
            @Html.ValidationMessageFor(model => model.outstock)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.status)
            @Html.ValidationMessageFor(model => model.status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.meta_options)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.meta_options)
            @Html.ValidationMessageFor(model => model.meta_options)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.city)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.city)
            @Html.ValidationMessageFor(model => model.city)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.photo)
        </div>
        <div class="editor-field">
        <input type="file" name="Photo" />
               @Html.ValidationMessageFor(model => model.photo)
             </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


          

            </div>                                                                    



    </div>
  </div>
</div>

<!-- Recent items carousel starts -->

<div class="recent-posts">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="bor"></div>
        <h4 class="title">Recent Items</h4>
        <div class="carousel_nav pull-right">
          <!-- Navigation -->
          <a class="prev" id="car_prev" href="#"><i class="icon-chevron-left"></i></a>
          <a class="next" id="car_next" href="#"><i class="icon-chevron-right"></i></a>
        </div>
        <div class="clearfix"></div>
        <ul class="rps-carousel">
            <!-- Recent items #1 -->
            <!-- Each item should be enclosed inside "li"  tag. -->
            <li>
                <div class="rp-item"> 
                  <div class="rp-image">    
                  <!-- Image -->    
                    <a href="single-item.html"><img src="img/photos/2.png" alt=""/></a>
                  </div>
                  <div class="rp-details">
                    <!-- Title and para -->
                    <h5><a href="single-item.html">HTC One V <span class="price pull-right">$225</span></a></h5>
                    <div class="clearfix"></div>
                    <!-- Description -->
                    <p>Travel far away to a space station.</p>         
                  </div>                
                </div>        
            </li>
            <!-- Recent items #2 -->
            <li>
                <div class="rp-item"> 
                  <div class="rp-image">        
                    <a href="single-item.html"><img src="img/photos/3.png" alt=""/></a>
                  </div>
                  <div class="rp-details">
                    <!-- Title and para -->
                    <h5><a href="single-item.html">Sony Xperia Pro <span class="price pull-right">$525</span></a></h5>
                    <div class="clearfix"></div>
                    <p>Travel far away to a space station.</p>         
                  </div>                
                </div>        
            </li>
            <li>
                <div class="rp-item"> 
                  <div class="rp-image">        
                    <a href="single-item.html"><img src="img/photos/4.png" alt=""/></a>
                  </div>
                  <div class="rp-details">
                    <!-- Title and para -->
                    <h5><a href="single-item.html">Samsung Pop <span class="price pull-right">$255</span></a></h5>
                    <div class="clearfix"></div>
                    <p>Travel far away to a space station.</p>         
                  </div>                
                </div>        
            </li>
            <li>
                <div class="rp-item"> 
                  <div class="rp-image">        
                    <a href="single-item.html"><img src="img/photos/5.png" alt=""/></a>
                  </div>
                  <div class="rp-details">
                    <!-- Title and para -->
                    <h5><a href="single-item.html">Motorola Droid <span class="price pull-right">$325</span></a></h5>
                    <div class="clearfix"></div>
                    <p>Travel far away to a space station.</p>         
                  </div>                
                </div>        
            </li>
            <li>
                <div class="rp-item"> 
                  <div class="rp-image">        
                    <a href="single-item.html"><img src="img/photos/6.png" alt=""/></a>
                  </div>
                  <div class="rp-details">
                    <!-- Title and para -->
                    <h5><a href="single-item.html">Blackberry Force <span class="price pull-right">$125</span></a></h5>
                    <div class="clearfix"></div>
                    <p>Travel far away to a space station.</p>         
                  </div>                
                </div>        
            </li>
            <li>
                <div class="rp-item"> 
                  <div class="rp-image">        
                    <a href="single-item.html"><img src="img/photos/7.png" alt=""/></a>
                  </div>
                  <div class="rp-details">
                    <!-- Title and para -->
                    <h5><a href="single-item.html">Pantech One <span class="price pull-right">$253</span></a></h5>
                    <div class="clearfix"></div>
                    <p>Travel far away to a space station.</p>         
                  </div>                
                </div>        
            </li>                                                                                               
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Recent Posts ends -->

<!-- Newsletter starts -->

<div class="container newsletter">
  <div class="row">
    <div class="col-md-12">
      <div class="well">
               <h5><i class="icon-envelope-alt"></i> Hot Offers - Don't Miss Anything!!!</h5>
               <p>Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet.</p>
               <form class="form-inline" role="form">
					<div class="form-group">
						<input type="email" class="form-control" id="search" placeholder="Subscribe">
					</div>
					<button type="submit" class="btn btn-default">Subscribe</button>
				</form>
      </div>
    </div>
  </div>
</div>

<!-- Newsletter ends -->



